@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
.ruleta-container {
  position: relative;
  width: 100%;
  height: 200px; /* Ajusta la altura según sea necesario */
}

.ruleta {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.participante {
  flex: 0 0 auto;
  width: 33.33%; /* Distribución equitativa de los participantes */
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.linea-central {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: red; /* Color de la línea central */
  left: 50%;
  transform: translateX(-50%);
}

.ganador {
  font-weight: bold;
  color: red; /* Color del texto del ganador */
}
